streamlit>=1.32.0
plotly>=5.19.0
requests>=2.31.0
pandas>=2.2.0
openpyxl>=3.1.2
fastapi>=0.110.0
uvicorn>=0.28.0
pydantic>=2.6.0
pydantic-settings>=2.2.0
polars>=0.20.15
python-calamine>=0.2.0
fastexcel>=0.20.0
xlsxwriter>=3.2.0
python-multipart>=0.0.9
psutil>=5.9.8
langchain>=0.1.13
langchain-community>=0.0.29
langchain-openai>=0.1.1
scikit-learn>=1.4.0
python-dotenv>=1.0.1
